extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  h1= title
  h2 Veuillez saisir les dates pour la recherche
  div#errors
  form
    label(for='debut') Date de début
    br
    input#debut(type='date')
    br
    label(for='debut') Date de fin
    br
    input#fin(type='date')
    br
  #buttons
    button#search Rechercher
 
  table(border)
    thead
      tr
        th(width="10%") Propriétaire
        th(width="10%") Établissement
        th(width="10%") Adresse
        th(width="10%") Ville
        th(width="10%") Description
        th(width="10%") Date de l'infraction
        th(width="10%") Date du jugement
        th.number(width="10%") Montant

    tbody#etablissementsInfractions
      tr
        td.nodata(colspan="8") Aucune donnée
    script(src='/javascripts/ajax.js')
