extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='/javascripts/ajax.js')
  h1= title
  h2 Veuillez saisir les dates pour la recherche
  form
    label(for='debut') Date de début
    br
    input(name='debut' type='text')
    br
    label(for='debut') Date de fin
    br
    input(name='fin' type='text')
    br
    input(id='search' type='button', value='Rechercher')
